html{
    font-size:16px;
    font-family:sans-serif;
    background-color:#ffde59;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
}

/*
*{
    outline:1px solid #FF0000;
    box-sizing:boder-box;
}
*/

/*全体に適用*/

/*
.header{
    background-color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin:0 ;
}
*/

main{
    margin:0 auto;
    max-width:1000px;
    min-width: 250px;
    line-height:1;

    position:relative;
}

.block{
    background-color: #FFFFFF;
    
    padding:0;
    margin:10px 0;
    border-radius:25px;
    border:4px solid #000000;

    text-align: center;
    z-index:30;
    position:relative;
}

.backchar{
    bottom:0;
    right:0;

    padding:0;
    margin:0 0 20px 0;
    border-bottom:5px solid #ffeeaa;
    color:#ffeeaa;

    font-size: 4.0rem;
    z-index:20;
    position:fixed;
}

p{
    position:relative;
    z-index:30;
}


/*lookback*/


.date{
    font-size:1.3rem;
}

.obj{
    color:#6f6f6f;
    font-size:1.7rem;  
    margin:0;
}
.result{
    font-size:2.0rem;
    margin:0;
}
.time{
    line-height: 0;
}

.stars{
    display: flex;
    justify-content: center;
    gap:5px;
}
.star{
    font-size: 0;
    width:50px;
    height:50px;
    align-items: center;
}
.star img{
    max-width: 100%;
    max-height: 100%;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin:0 auto;
}

textarea{
    padding:6px;

    width:70vw;
    max-width:600px;
    height:30vh;
    max-height: 300px;
    min-height: 150px;

    font-size:1.2rem;
    font-family:sans-serif;
    border-radius:20px;
}

.submit{
    text-align: center;
}
input[type="submit"]{
    border:none;
    padding:15px;
    width:150px;
    background-color:#ff9d00;
    color:#000000;
    font-size: 1.0rem;
    border-radius:10px;
}

.record{
    margin-right:150px;
    margin-left:150px;
}
.days{
    font-size:1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin:0 50px;

    border-bottom:5px solid #000000;
    line-height: 0;
}


/*メディア対応*/
@media(max-width:600px){
    main{
        padding:0 5%;
    }
    .obj{
        font-size:1.4rem;  
    }
    .result{
        font-size:1.6rem
    }
    .para{
        display:block;
    }
    .star{
        width:30px;
        height:30px;
    }
    .record{
        margin:10px auto 0 auto;
    }
}

/*profile*/

.profile img{
    height:30vh;
    width:30vh;

    margin-top:10px;
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

    margin:0 50px;
    padding:0;

    border-bottom:5px solid #000000;
    line-height: 0;
}
.disp{
    font-size: 2.0rem;
}
.userpoint{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:0;
    margin-top:20px;
    line-height: 0;
}
.userrecord{
    padding: 0;
    line-height: 0;
}

.getupre{
    margin:0 10vw;
}
.getupre p{
    font-size: 1.3rem;
    line-height: 0;
}
.getuprecord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    line-height: 0;
    padding:0;
}

/*wakeup*/

.goal{
    font-size:1.4rem;
}
.goal textarea{
    height:350px;
}