html{
    font-size:16px;
    font-family:sans-serif;
    background-color:#ffde59;
    margin: 0px;
    padding: 0px;
}

img{
    max-width:100%;
}

/*
*{
    outline:1px solid #FF0000;
    box-sizing:boder-box;
}
*/

/*全体に適用*/

.header{
    background-color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin:0 200px;
}

main{
    margin:50px auto 50px auto;
    max-width:1000px;
    line-height:1;

    position:relative;
}

.block{
    background-color: #FFFFFF;
    text-align: center;
    padding:20px 0 20px 0;
    border-radius:25px;
    border:4px solid #000000;
    z-index:30;
    position:relative;
}

.backchar{
    position:fixed;
    bottom:0;
    right:0;
    padding:0;
    margin:0 0 20px 0;

    border-bottom:5px solid #ffeeaa;
    color:#ffeeaa;
    font-size: 4.0rem;
    z-index:20;
}


/*lookback*/

.date{
    font-size:2.0rem;
}
.obj{
    color:#6f6f6f;
    font-size:2.4rem;  
    margin:0;
}
.result{
    font-size:2.8rem;
    margin:0;
}
.time{
    line-height: 0;
}

.stars{
    display: flex;
    justify-content: center;
    gap:10px;
}
.star{
    font-size: 0;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin:0 auto;
}

textarea{
    padding:6px;
    width:70%;
    height:250px;
    font-size:1.2rem;
    font-family:sans-serif;
    border-radius:20px;
}

.submit{
    text-align: center;
}
input[type="submit"]{
    border:none;
    padding:15px;
    width:150px;
    background-color:#ff9d00;
    color:#000000;
    font-size: 1.0rem;
    border-radius:10px;
}

.record{
    margin:50px 200px 0 200px;
}
.days{
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin:0 50px;

    border-bottom:5px solid #000000;
    line-height: 0;
}


/*メディア対応*/
@media(max-width:767px){
    main{
        padding:0 5%;
    }
    .obj{
        font-size:2.0rem;  
    }
    .result{
        font-size:2.4rem
    }
    .para{
        display:block;
    }
    .record{
        margin:50px 50px 0 50px;
    }
}
@media(max-width:440px){
    .record{
        margin:50px auto 0 auto;
    }
}

/*profile*/

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin:0 10px;
    padding:0;
    border-bottom:5px solid #000000;
    line-height: 0;
}
.disp{
    font-size: 2.0rem;
}
.userpoint{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:0;
    margin-top:20px;
    line-height: 0;
}
.userrecord{
    padding: 0;
    line-height: 0;
}

.getupre{
    margin:0 auto;
}
.getupre p{
    font-size: 1.5rem;
    line-height: 0;
}
.getuprecord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    line-height: 0;
    padding:0;
}

/*wakeup*/

.goal{
    font-size:1.4rem;
}
.goal textarea{
    height:350px;
}